<li class="dropdown">
				   			   <a id="drop2"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" style="color: white;"  aria-expanded="false">Login
				   	<span class="caret"></span>
				   			   </a>
				   			   <ul id="loginPanel" style="background: rgb(52, 152, 219);" class="dropdown-menu" aria-labelledby="drop2">
				   			   	<li class="active">
				   			   		<div class="container-fluid" style="width: 243px;">
				   			   			<div class="form-group">
				   			   				<br>
				   			   				<div class="input-group">
				   			   					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				   			   					<input ng-model="Usuario.cedula" type="text" id="usuarioAP" class="form-control chat-input errorField" placeholder="Usuario">
				   			   					
				   			   				</div>
				   			   				
				   			   			</div>
				   			   			<div class="form-group">

				   			   				<div class="input-group">
				   			   					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				   			   			
				   			   					<input ng-model="Usuario.clave"  type="password" class="form-control" id="pwd">
				   			   				</div>
				   			   			</div>

				   			   			<div class="form-group">

				   			   				<div class="checkbox checkbox-info">
				   			   					<input id="rememberCB" class="styled" type="checkbox">
				   			   					<label for="rememberCB">
				   			   						Recuerdame 
				   			   					</label>
				   			   				</div>
				   			   				
				   			   			</div>
				   			   			<div class="form-group">
				   			   				<div class="row">
				   			   					<div class="col-md-4">
				   			   						<button  ng-click="login()" type="button" class="btn btn-primary" >Login</button>
				   			   					</div>
				   			   					<div class="col-md-8">
				   			   						<label id="errorLB" class="control-label" style="display:none; color: red; font-family: serif; font-size: x-small;">Usuario o password incorrecto</label>
				   			   						
				   			   					</div>
				   			   				</div>
				   			   			</div>
				   			   		</div>
				   			   		</li>
				   			   	</ul> 
				   			 </li>