
 <div class="header">
      <div class="navbar navbar-default navbar-black" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              		<span class="sr-only">Toggle navigation</span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
            </button>
              	<a class="navbar-brand" href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'" >APROBE</a>
    			</div>
            <!--NAV-->
      			<div class="collapse navbar-collapse" id="js-navbar-collapse">
        			<ul class="nav navbar-nav">
        				  <li class="active"><a href="#/homeAdmin"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        				  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">About us</a></li>
        				  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Contactanos</a></li>
        				  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Informacion</a></li>
        				  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Talleres</a></li>
        	        <li><a  style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#7f8c8d'"> 
                  <login-Directive ></login-Directive> </a></li>
        			</ul>
      			</div>      	
        </div>     	
      </div>	
    </div>


	<div class="form-group">
		<input class="form-control" type="file" id="searchFile" 
		placeholder="Ingresa un archivo" file-Reader="cliente.file">

		<button class="btn btn-primary"  id="btnSubirArchivo" ng-click="Submit()">
		<span class="glyphicon glyphicon-fire"></span>
		</button>
		<br>
		<br>
		<div class="form-group">
		<button type="submit" class="btn btn-primary" ng-click="mostrarEstudiantes()"><span>Refrescar</span></button>
		</div>
	</div>