    <header-Comite></header-Comite>

<h1 >Ingreso de lista de matriculados al sistema</h1>
<form class="form-inline">
    <div class="form-group">
            <input class="form-control" type="file" id="searchFile" 
            placeholder="Ingresa un archivo" file-Reader="cliente.file">
           
            <button class="btn btn-primary"  id="btnSubirArchivo" ng-click="Submit()">
              <span class="glyphicon glyphicon-fire"></span>
            </button>
            <br>
            <br>

    </div>
</form>