   
<!--Header-->
  <div class="header">
      <div class="navbar navbar-default navbar-black" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'" >APROBE</a>
          </div>
             <!--NAV  navbar navbar-fixed-top navbar-inverse-->
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#/homeAdmin"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Solicitudes de beca</a></li>
                  <li><a ng-href="#/configuraciones" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Configuración</a></li>
                 <li><a style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'"><log-Out></log-Out> </a></li>

              </ul>
            </div>      
        </div>      
      </div>  
    </div>

   <h1>Formulario de becas</h1>
   <br> 
   <h2>Datos familiares</h2>

</form>


<form role="form">
  <div class="form-group">
    <label   for="ejemplo_email_1">Nombre completo</label>
    <input type="email" class="form-control" id="ejemplo_email_1" value="Ejemplo: Maria Rodriguez Quesada"
           placeholder="Introduce tu email">
    </div>
  </div>
  <div class="form-group">
   <label for="ejemplo_email_1">Nacionalidad</label>
    <input type="email" class="form-control" id="ejmNacionalidad" value="Ejemplo: Costarricense"
           placeholder="Introduce tu email">
    </div>
  </div>

 <div class="form-group">
   <label  for="ejemplo_email_1">Cedula</label>
    <input type="email" class="form-control" id="ejmCedEncargado" value="Ejemplo: 503330999"
           placeholder="Introduce tu email">
    </div>
  </div>

<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>
    Hombre
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    Mujer
  </label>
</div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Entrar</button>
    </div>
  </div>
</form>