
    <!-- HEADER -->

    <header-Comite></header-Comite>
        <!--
    cuadros de texto para busqueda
    -->
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="cedulaAP">Cedula</label>
        <input type="text" class="form-control" id="cedulaAP" placeholder="Cedula" ng-model="search.cedula">
      </div>
          <div class="form-group">
            <label class="sr-only" for="1erApeAP">1er apellido</label>
            <input type="text" class="form-control" id="1erApeAP" placeholder="1er apellido" ng-model="search.primerApellido">
          </div>


          <br>
          <br>
           

          <div class="form-group">
           
             <div class="form-group">
              <button type="submit" class="btn btn-primary" ng-click="mostrarEstudiantes()"><span>Refrescar</span></button>
            </div>
          </div>
  
    </form>

  <table class="table table-hover">
    <thead>
      <tr>  
         <th>1er Apellido</th>
         <th>2do Apellido</th>
         <th>Nombre</th>
         <th>Cedula</th>
         <th>Nivel</th>
         <th>Estado solicitud</th>
      </tr> 
    </thead>
    <tbody>
       <tr ng-repeat="estudiante in listaEst | filter:search">
          <td>{{estudiante.primerApellido}}</td>
          <td>{{estudiante.segundoApellido}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.cedula}}</td>
          <td>{{estudiante.numNivel}}</td>
          <td>{{estudiante.tipoBeca}}</td>
       </tr>  
    </tbody>
  </table>