
    <!-- HEADER -->

  <div class="header">
      <div class="navbar navbar-default navbar-black" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'" >APROBE</a>
          </div>
            <!--NAV  navbar navbar-fixed-top navbar-inverse-->
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#/homeAdmin"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Solicitudes de beca</a></li>
                  <li><a ng-href="#/gestionInfoEstudiante" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Estudiantes</a></li>
                  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Gestion de rutas</a></li>
                  <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'">Configuración</a></li>
                 <li><a ng-href="#/" style="color: white;" onmouseover="this.style.color='#7f8c8d'" onmouseout="this.style.color='#ecf0f1'"><log-Out></log-Out> </a></li>

              </ul>
            </div>        
        </div>      
      </div>  
    </div>

       

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
